##  Homework - Module 1
Solutions for the first ML Zoomcamp homework, a course offered by the DataTalkClub team.
The exercises are simple and cover the use of Pandas for data manipulation, data cleaning, and a brief introduction to linear regression.

## Getting the data

In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q1. Pandas version
What version of Pandas did you install?

In [3]:
pd.__version__

'2.3.2'

## Q2. Records count
How many records are in the dataset?

In [13]:
df_length = len(df)
df_length

9704

## Q3. Fuel types
How many fuel types are presented in the dataset?

In [12]:
fuel_types = df['fuel_type'].nunique()
fuel_types

2

## Q4. Missing values
How many columns in the dataset have missing values?

In [15]:
missing_cols = df.isnull().sum()
num_missing_cols = (missing_cols > 0).sum()
num_missing_cols

np.int64(4)

## Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?}

In [16]:
maximum = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
maximum = round(maximum, 3)
maximum

np.float64(23.759)

## Q6. Median value of horsepower
1. Find the median value of the horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.

    
Has it changed?

In [40]:
old_median = df['horsepower'].median()
old_median

np.float64(149.0)

In [50]:
mode = df['horsepower'].mode()[0]
mode

np.float64(152.0)

In [51]:
new_median = df['horsepower'].fillna(mode).median()
new_median

np.float64(152.0)

## Q7. Sum of weights
1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

In [67]:
df_asia = df[df['origin'] == 'Asia']
df_asia_subset = df_asia[['vehicle_weight', 'model_year']]
df_asia_subset_7 = df_asia_subset.head(7)
X = df_asia_subset_7.to_numpy()
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv.dot(X.T).dot(y)
w.sum()

np.float64(0.5187709081074016)